@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MyriadPro/MyriadProCond/MyriadProCond.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProCond/MyriadProCond.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProCond/MyriadProCond.otf') format('otf')
}
@font-face {
    font-family: 'MyriadProSemiBold';
    src: url('../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf') format('truetype'),
         url('../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff') format('woff'),
         url('../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.otf') format('otf')
}