body{
    font-family: "MyriadPro", sans-serif;	
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 21px;
    background-color: #a00c0e;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,
select,
button,
.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}

h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
h1{
    font-size: 41px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    color: #ffd66c;
    padding-left: 10px;
    //background: linear-gradient(to right, #fced90, #efd170);
    //-webkit-background-clip: text;
    //color: transparent;
    display: inline-block;
}
a{
    color: #fff;
}
a:hover{
    text-decoration: none;
}
.wrap{
    width: 100%;
    background: url('../img/bg.png') 50% 50% repeat #ee1c24;
}
.wrap-container{
    box-sizing:border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.wrap-header{
    background: url('../img/top-bg.png') 0% 0% repeat-x transparent;
    z-index: 5;
    position: relative;
}
header{
    box-sizing:border-box;
    max-width:960px;
    min-width:640px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 115px;
}
.toggle-menu{
    display: none;
}
.menu{
    float: right;
    display: inline-block;
    z-index: 5;
    position: relative;
    padding: 0px 0px 0px 28px;
}
.menu-ul{
    display: inline-block;
}
.menu li{
    float: left;
    padding: 20px 3px 22px 3px;
    list-style: none;
    text-align: center;
    height: 15px;
    margin-right: 15px;
}
.menu .item .link{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
}
.menu .item .link:hover,
.menu .item.active .link{
    text-decoration: none;
    color: #fbef86;
}
header .auth-menu{
    padding-top: 12px;
    font-family: "MyriadProSemiBold";	
}
header .auth-menu.logged li{
    text-align: right;
    float: none;
    padding: 0;
    height: auto;
}
header .auth-menu.logged li div{
    font-size: 22px;
    line-height: 23px;
}
header .auth-menu.logged li .link{
    font-size: 15px;
}
header .main-menu .item .link {
    font-size: 18px;
}
header .logo-favorite{
    display: inline-block;
    background: url('../img/logo-favorite.png') 50% 100% no-repeat transparent;
    width: 143px;
    height: 72px;
    padding-top: 10px;
    padding-left: 10px;
}
header .logo-5ka{
    display: inline-block;
    background: url('../img/logo-5ka.png') 50% 100% no-repeat transparent;
    width: 54px;
    height: 54px;
    float: right;
    padding-top: 20px;
}
.wrap-content{
    box-sizing:border-box;
    max-width:960px;
    min-width:640px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 550px;
    padding-bottom: 50px;
}
.content{
    padding-top: 20px;
}
.content .content-inner{
    margin: 0 auto;
}
.wrap-footer{
    width: 100%;
    margin-top: 20px;
    background: url('../img/footer-bg.png') 0% 0% repeat-x transparent;
}
.footer{
    text-align: center;
    padding: 35px 20px;
    box-sizing:border-box;
    max-width:960px;
    min-width:640px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.footer-menu{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-menu li{
    display: inline-block;
    margin-right: 15px;
}
.footer-menu li:last-child{
    margin-right: 0;
}
.footer-menu li a{
    color: #fff;
}
.footer-menu li a:hover{
    text-decoration: underline;
    color: #ffea00;
}
.footer .action-info{
    font-size: 12px;
}


/* fields and btns && other helpers*/

.input-block label {
    color: #fff;
    font-size: 21px;
}

.input-block input,
.input-block select,
.input-block .select2 .select2-selection,
.input-block textarea{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    color: #7d0304;
    font-size: 21px;
    box-sizing:border-box;
    background: #fff;
    display: inline-block;
    font-family: "MyriadPro", sans-serif;
}
.select2-results {
    color: #000;
}
.input-block .select2-container .select2-selection--single,
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto; 
    line-height: normal;
    color: #a7c860;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__arrow b{
    height: 1px;
    position: absolute;
    top: 50%;
    left: auto;
    margin-top: 5px;
    right: 9px;
    width: 1px;
    border: 5px solid transparent;
    border-top-color: #fff;
    border-top-width: 11px;
}
.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
    font-size: 21px;
    font-style: italic;
    color: #ddcbcb;
    font-family: "MyriadPro";
}
.input-block input:-moz-placeholder,
.input-block textarea:-moz-placeholder {
    font-size: 21px;
    font-style: italic;
    color: #ddcbcb;
    opacity: 1;
    font-family: "MyriadPro";
}
.input-error input,.input-error textarea {
    /*border: 1px solid #010101;*/
    color: #9d0708;
    background: #ffeb84;
}
.input-block input::-webkit-input-placeholder, .input-block textarea::-webkit-input-placeholder {font-family: "MyriadPro"; font-weight: normal;}
.input-block input::-moz-placeholder, .input-block textarea::-moz-placeholder          {font-family: "MyriadPro"; font-weight: normal;}
.input-block input:-moz-placeholder, .input-block textarea:-moz-placeholder           {font-family: "MyriadPro"; font-weight: normal;}
.input-block input:-ms-input-placeholder, .input-block textarea:-ms-input-placeholder      {font-family: "MyriadPro"; font-weight: normal;}

.input-error input::-webkit-input-placeholder, .input-error textarea::-webkit-input-placeholder {color:#9d0708;font-style: normal;font-size: 20px;}
.input-error input::-moz-placeholder, .input-error textarea::-moz-placeholder          {color:#9d0708;font-style: normal;font-size: 20px;}
.input-error input:-moz-placeholder, .input-error textarea:-moz-placeholder           {color:#9d0708;font-style: normal;font-size: 20px;}
.input-error input:-ms-input-placeholder, .input-error textarea:-ms-input-placeholder      {color:#9d0708;font-style: normal;font-size: 20px;}

.input-error-text{
    color: #9d0708;
    font-size: 19px;
    text-align: center;
    margin-top: 5px;
    display: none;
}
.input-error .input-error-text{
    display: block;
}
.btn-primary,
.btn-default{
    background: url('../img/bg-btn-primary.png') 0% 0% repeat-x transparent;
    border-radius: 30px;
    border: none;
    padding: 0 40px;
    height: 55px;
    line-height: 55px;
    vertical-align: middle;
    font-size: 27px;
    color: #911d1f;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.btn-default{
    background: #004524;
    color: #a7c860;
    border: 1px solid #a7c860;
    text-decoration: none;
    font-weight: normal;
}
.btn-primary:hover{
    //background: #014621;
    //color: #ecffb8;
}
.input-block-required{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.input-block-required:after{
    content: "*";
    position: absolute;
    right: -14px;
    top: -18px;
    font-size: 29px;
    color: #ffed00;
}
.checkbox-block{
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url('../img/checkbox-off.png') 0% 100% no-repeat transparent;
}
.checkbox-on{
    background: url('../img/checkbox-on.png') 0% 100% no-repeat transparent;
}
.checkbox-block input{
    display:none;
}
.text-required-info{
    padding-left: 20px;
    color: #fff;
    font-size: 12px;
}
.captcha-block>div,
.captcha-block>input{
    display: inline-block;
    vertical-align: middle;
}
.captcha-img{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    height: 42px;
    box-sizing: border-box;
}
.captcha-reload a{
    display: block;
    margin: 0 14px;
    width: 70px;
    line-height: 16px;
    font-size: 16px;
}
div.browse-wrap {
    //margin:10px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    font-size:1000px !important;
}
span.upload-path {
    text-align: left;
    margin: 10px;
    display: block;
    font-size: 80%;
}
.link-upload{
    color: #fff;
    text-decoration: underline;
}
.link-upload:hover{
    text-decoration: none;
}
.input-radio-block{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px double #b8d567;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px;
}
.input-radio-block.radio-on:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #b8d567;
    border-radius: 8px;
}
.input-radio-block input{
    display: none;
}
.select2-container--open {
    z-index: 9999;
}

/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

/* modal fancy */
.j7-modal{
    display: none;
    //width: 500px;
    text-align: center;
}
.fancybox-close, .fancybox-prev span, .fancybox-next span {
    background: url('../img/close.png') 50% 50% no-repeat transparent;
    display: block;
    top: 14px;
    right: 20px;
}
.fancybox-overlay {
    background-image: none !important;
    background: rgba(255, 144, 148, 0.49) !important;
}
.fancybox-wrap .fancybox-skin{
    background: #bf191d;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.21);
    color: #fff;
    padding: 0 !important;
    overflow: hidden;
}
.fancybox-wrap .fancybox-skin .modal-title{
    background: #950709;
    padding: 18px;
    color: #fdef97;
    font-size: 27px;
    margin-bottom: 20px;
}
.fancybox-wrap .fancybox-skin .modal-content{
    margin-bottom: 20px;
    padding: 5px 10px;
}


/*login page */

.content-login{
    padding-bottom: 150px;
}
.content-login .content-inner{
    width: 400px;
    margin-top: 20px;
}
.content-login .input-block label{
    width: 75px;
    display: inline-block;
}
.content-login .input-block input{
    width: 320px;
}
.content-login .submit-block{
    margin-top: 20px;
    text-align: center;
}
.content-login .submit-block .btn-primary{
    padding: 0 75px;
}
.content-login .sign-links-block{
    text-align: center;
    margin-top: 20px;
    margin-right: -10px;
}
.content-login .sign-links-block a{
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
}
.content-login .sign-links-block a:first-child{
    color: #fff;
}
#reset-pass-request{
    text-align: center;
    width: 550px;
}
#reset-pass-request .input-block{
    margin: 30px 0 25px 0; 
}
#reset-pass-request .input-block input{
    width: 90%;
}


/* signup page*/
.content-signup .content-inner{
    width: 760px;
}
.content-signup .input-block{
    margin-bottom: 15px;
    vertical-align: middle;
}
.content-signup .input-block label{
    width: 95px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}
.content-signup .input-block input{
    width: 565px;
    display: inline-block;
}
.content-signup .input-block .select2 .select2-selection{
    background: #d81215;
    border: 1px solid #fff;
}
.content-signup .input-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}
.content-signup .sex-block{
    margin-left: 100px;
    display: inline-block;
}
.content-signup .sex-block select{
    width: 160px;
}
.content-signup .input-block input::-webkit-input-placeholder,
.content-signup .input-block textarea::-webkit-input-placeholder {
    font-size: 20px;
    font-style: normal;
}
.content-signup .input-block input:-moz-placeholder,
.content-signup .input-block textarea:-moz-placeholder {
    font-size: 20px;
    font-style: normal;
}
.content-signup .date-input-block{
    display: inline-block;
    margin-left: 180px;
}
.content-signup .date-input-block input{
    border: 1px solid #fff;
    display: inline-block;
    width: 225px;
    padding-right: 30px;
    box-sizing: border-box;
    background: url(../img/cal.png) 96% 50% no-repeat #d81215;
    color: #fff;
    font-style: normal;
}
.content-signup .phone-block,
.content-signup .password-block{
    display: inline-block;
    width: 360px;
    margin-right: 45px;
}
.content-signup .phone-block input{
    width: 160px
}
.content-signup .city-block{
    display: inline-block;
}
.content-signup .city-block select{
    display: inline-block;
    width: 260px
}
.content-signup .password-block .input-block label{
    text-align: left;
}
.content-signup .password-block .input-block{
    text-align: right;
}
.content-signup .password-block input{
    width: 255px;
}
.content-signup .accept-block{
    display: inline-block;
    width: 340px;
}
.content-signup .captcha-block{
    margin: 20px 0 0 100px;
    padding: 10px 32px 10px 10px;
    background: #9d0708;
    width: 525px;
}
.content-signup .captcha-block input{
    width: 225px;
}
.content-signup .submit-block{
    margin: 30px 0 0 100px;
}

/* feedback page */

.content-feedback{
    padding-bottom: 100px;
}
.content-feedback .content-inner{
    margin-top: 20px;
    width: 770px;
    background: #ba171b;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
    padding: 50px 75px;
    box-sizing: border-box;
}
.content-feedback .feedback-inline-blocks{
    margin-bottom: 20px;
}
.content-feedback .input-block{
    display: inline-block;
}
.content-feedback .feedback-inline-blocks .input-block:first-child{
    margin-right: 20px;
}
.content-feedback .feedback-inline-blocks .input-block:last-child label{
    width: 50px;
}
.content-feedback .input-block label{
    display: inline-block;
    margin-right: 1px;
    width: 80px;
}
.content-feedback .feedback-inline-blocks .input-block input{
    display: inline-block;
    width: 228px;
}
.content-feedback .input-block textarea{
    display: inline-block;
    width: 533px;
    vertical-align: top;
}
.content-feedback .captcha-block{
    margin: 20px 0 0 80px;
    padding: 10px 32px 10px 10px;
    background: #9d0708;
}
.content-feedback .captcha-block input{
    width: 225px;
}
.content-feedback .submit-block {
    padding-left: 80px;
    margin-top: 30px;
}


/* winners page */

.content-winners{
    padding-bottom: 100px;
}
.content-winners .content-inner{
    width: 750px;
}
.content-winners .filter-block{
    text-align: left;
}
.content-winners .date-input-block input{
    width: 200px;
}
.content-winners .date-input-block input{
    border: 1px solid #fff;
    display: inline-block;
    width: 225px;
    padding-right: 30px;
    box-sizing: border-box;
    background: url(../img/cal.png) 96% 50% no-repeat #d81215;
    color: #fff;
    font-style: normal;
}
.content-winners .date-input-block input[type="text"]::-webkit-input-placeholder {
    color: #dadada;
    font-style: normal;
}
.content-winners .date-input-block input:-moz-placeholder {
    color: #dadada;
    font-style: normal;
}
.winners-table{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    background: #bf191d;
    border: 1px solid #e03a3e;
}
.content-winners .table-tr{
    display: table;
    width: 100%;
    border-top: 1px solid #e03a3e;
    border-bottom: 1px solid #950709;
    font-size: 0;
}
.content-winners .table-tr:first-child{
    border-top: none;
}
.content-winners .table-tr.table-thead {
    background: #950709;
}
.content-winners .table-tr.table-thead>div {
    font-size: 24px;
}
.content-winners .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 21px;
    box-sizing: border-box;
    border-right: 1px solid #e03a3e;
    text-align: center;
}
.content-winners .table-tr>div:nth-child(4n){
    border-right: none;
}
.content-winners .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 21px;
    box-sizing: border-box;
    border-right: 1px solid #e03a3e;
}
.content-winners .table-tr.table-thead>div {
    padding: 5px 15px;
    text-align: center;
}
.content-winners .table-tr>div:nth-child(1){
    width: 35%;
}
.content-winners .table-tr>div:nth-child(2),
.content-winners .table-tr>div:nth-child(3){
    width: 25%;
}
.content-winners .table-tr>div:nth-child(4){
    width: 15%;
}
.content-winners .prize-1,
.content-winners .prize-2{
    display: inline-block;
    margin: -14px 0;
    width: 60px;
    height: 40px;
    background: url(../img/prize-1.png) 50% 50% no-repeat transparent;
}
.content-winners .prize-2{
    background-image: url(../img/prize-2.png);
}
.pager {
    margin-top: 30px;
    width: 100%;
    height: 41px;
    text-align: center;
}
.pager .item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
    list-style: none;
}
.pager .item a {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    padding: 10px 1px;
    display: inline-block;
}
.pager .item a:hover {
    text-decoration: none;
}
.pager .current-item a{
    color: #bf191d;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background: #f6de7a;
    background: linear-gradient(to right, #dcc369, #faea8b);
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 25px;
}
.pager .pager-left a,
.pager .pager-right a{
    width: 20px;
    height: 20px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #bf191d;
    border-radius: 20px;
    padding: 0;
    text-decoration: none;
}

/* cabinet page*/
.content-cabinet .content-inner{
    width: 960px;
}
.content-cabinet .profile-info{
    display: inline-block;
    width: 300px;
    margin: 0 40px 0 10px;
    vertical-align: top;
}
.content-cabinet .profile-change-link{
    text-align: right;
    width: 300px;
}
.content-cabinet .profile-change-link a{
    color: #ffd66c;
    font-size: 21px;
}
.content-cabinet .profile-title,
.content-cabinet .checks-table-title{
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}
.content-cabinet .packet{
    width: 100%;
    height: 170px;
    margin-top: 20px;
    background: url(../img/packet.png) 50% 50% no-repeat transparent;
}
.content-cabinet .checks-block{
    width: 600px;
    display: inline-block;
    vertical-align: top;
}
.content-cabinet .checks-table{
    width: 100%;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    background: #bf191d;
    border: 1px solid #e03a3e;
}
.content-cabinet .checks-table .table-tr{
    display: table;
    width: 100%;
    border-top: 1px solid #e03a3e;
    border-bottom: 1px solid #950709;
    font-size: 0;
}
.content-cabinet .checks-table .table-tr:first-child{
    border-top: none;
}
.content-cabinet .checks-table .table-tr.table-thead {
    background: #950709;
}
.content-cabinet .checks-table .table-tr.table-thead>div {
    font-size: 24px;
}
.content-cabinet .checks-table .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 21px;
    box-sizing: border-box;
    border-right: 1px solid #e03a3e;
    text-align: center;
}
.content-cabinet .checks-table .table-tr>div:nth-child(4n){
    border-right: none;
}
.content-cabinet .checks-table .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 21px;
    box-sizing: border-box;
    border-right: 1px solid #e03a3e;
}
.content-cabinet .checks-table .table-tr.table-thead>div {
    padding: 5px 15px;
    text-align: center;
}
.content-cabinet .checks-table .table-tr>div:nth-child(1){
    width: 15%;
}
.content-cabinet .checks-table .table-tr>div:nth-child(2),
.content-cabinet .checks-table .table-tr>div:nth-child(3){
    width: 30%;
}
.content-cabinet .checks-table .table-tr>div:nth-child(4){
    width: 25%;
}
.content-cabinet .checks-table .prize-1,
.content-cabinet .checks-table .prize-2{
    display: inline-block;
    margin: -14px 0;
    width: 60px;
    height: 40px;
    background: url(../img/prize-1.png) 50% 50% no-repeat transparent;
}
.content-cabinet .checks-table .prize-2{
    background-image: url(../img/prize-2.png);
}
#reg-check .browse-wrap{
    margin-top: 40px;
}
#reg-check .upload-error-text{
    color: #ffd66c;
    margin: 15px 0;
}

/* profile change modal */
#profile-change{
    width: 750px;
}
#profile-change .modal-content{
    text-align: left;
    padding: 0 40px;
}
#profile-change .input-block{
    margin-bottom: 15px;
    vertical-align: middle;
}
#profile-change .input-block label{
    width: 95px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
}
#profile-change .input-block input{
    width: 565px;
    display: inline-block;
}
#profile-change .input-block .select2 .select2-selection{
    background: #d81215;
    border: 1px solid #fff;
}
#profile-change .input-block .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}
#profile-change .sex-block{
    margin-left: 100px;
    display: inline-block;
}
#profile-change .sex-block select{
    width: 160px;
}
#profile-change .input-block input::-webkit-input-placeholder,
#profile-change .input-block textarea::-webkit-input-placeholder {
    font-size: 20px;
    font-style: normal;
}
#profile-change .input-block input:-moz-placeholder,
#profile-change .input-block textarea:-moz-placeholder {
    font-size: 20px;
    font-style: normal;
}
#profile-change .date-input-block{
    display: inline-block;
    margin-left: 180px;
}
#profile-change .date-input-block input{
    border: 1px solid #fff;
    display: inline-block;
    width: 225px;
    padding-right: 30px;
    box-sizing: border-box;
    background: url(../img/cal.png) 96% 50% no-repeat #d81215;
    color: #fff;
    font-style: normal;
}
#profile-change .phone-block,
#profile-change .password-block{
    display: inline-block;
    width: 360px;
    margin-right: 45px;
}
#profile-change .phone-block input{
    width: 160px
}
#profile-change .city-block{
    display: inline-block;
}
#profile-change .city-block select{
    display: inline-block;
    width: 260px
}
#profile-change .password-block .input-block label{
    text-align: left;
}
#profile-change .password-block .input-block{
    text-align: right;
}
#profile-change .password-block input{
    width: 255px;
}
#profile-change .submit-block{
    margin: 30px 0 0 100px;
}
#profile-change .input-email-block input {
    width: 255px;
}


/* index page*/
.content-index .content-inner {
    text-align: right;
    padding: 40px 0 0 400px;
    height: 645px;
    box-sizing: border-box;
    margin: -43px 0 -70px -400px;
    background: url('../img/index-heart.png') 0% 0% no-repeat transparent;
    z-index: 1;
    position: relative;
}
.content-index .index-title{
    display: inline-block;
    width: 580px;
    height: 65px;
    background: url('../img/index-title.png') 50% 0% no-repeat transparent;
}
.content-index .index-rules{
    display: inline-block;
    width: 580px;
    height: 103px;
    margin-top: 10px;
    background: url('../img/index-rules.png') 50% 0% no-repeat transparent;
}
.content-index .index-prizes{
    display: inline-block;
    width: 580px;
    height: 275px;
    margin-top: 10px;
    background: url('../img/index-prizes.png') 50% 0% no-repeat transparent;
}
.content-index .index-btn-block{
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    width: 580px;
}
.content-index .index-btn-block a{
    width: 405px;
    height: 90px;
    background: url('../img/index-btn-signup.png') 50% 0% no-repeat transparent;
}
.content-index .index-packet{
    position: absolute;
    bottom: -35px;
    left: 425px;
    display: inline-block;
    width: 390px;
    height: 320px;
    margin-top: 10px;
    background: url('../img/index-packet.png') 50% 50% no-repeat transparent;
}

@media only screen and (max-width : 1000px) {
    .content-index .index-packet{
        display: none;
    }
}

.content-winners>h1,
.content-feedback>h1,
.content-login>h1,
.content-signup>h1,
.content-cabinet>h1{
    position: relative;
    color: transparent;
    width: 160px;
}
.content-winners>h1:before,
.content-feedback>h1:before,
.content-login>h1:before,
.content-signup>h1:before,
.content-cabinet>h1:before{
    content: '';
    display: block;
    top: 0;
    bottom: -7px;
    left: 12px;
    right: 0;
    position: absolute;
}

.content-winners>h1{
    width: 160px;
}
.content-winners>h1:before{
    bottom: -7px;
    left: 12px;
    background: url(../img/winners-h1.png) 0px 52% no-repeat transparent;
    background-size: 100%;
}
.content-feedback>h1{
    width: 215px;
}
.content-feedback>h1:before{
    background: url(../img/feedback-h1.png) 0px 52% no-repeat transparent;
    background-size: 100%;
}
.content-login>h1{
    width: 65px;
}
.content-login>h1:before{
    background: url(../img/login-h1.png) 0px 52% no-repeat transparent;
    background-size: 100%;
}
.content-signup>h1{
    width: 165px;
}
.content-signup>h1:before{
    background: url(../img/signup-h1.png) 0px 52% no-repeat transparent;
    background-size: 100%;
}
.content-cabinet>h1{
    width: 225px;
}
.content-cabinet>h1:before{
    background: url(../img/cabinet-h1.png) 0px 52% no-repeat transparent;
    background-size: 100%;
}



/* mobile styles */

@media only screen and (max-width : 768px) {
    body {
        font-size: 18px;
    }
    .wrap{
        min-width: 640px;
    }
    .wrap-content {
        box-sizing: border-box;
        max-width: 960px;
        min-width: 640px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        min-height: 550px;
        padding-bottom: 50px;
        padding-top: 65px;
    }
    .wrap-header {
        background: #950709;
        border-radius: 0 0 15px 15px;
    }
    header {
        height: 95px;
    }
    header .logo-favorite{
        margin-left: 20px;
    }
    header .logo-5ka {
        position: absolute;
        right: 10px;
        top: 90px;
    }
    .toggle-menu{
        display: inline-block;
        width: 82px;
        height: 35px;
        background: url('../img/toggle-menu-off.png') 50% 50% no-repeat transparent;
        margin: 20px;
        cursor: pointer;
    }
    .auth-menu.show .toggle-menu{
        background: url('../img/toggle-menu-on.png') 50% 50% no-repeat transparent;
    }
    header .auth-menu.logged li {
        padding-right: 30px;
    }
    .menu{
        height: 75px;
        z-index: auto;
    }
    .menu ul{
        display: none;
        position: absolute;
        top: 92px;
        right: 0;
        background: #950709;
        border-radius: 0 0 0 15px;
        padding: 20px 0 20px 0;
        z-index: 15;
        width: 260px;
    }
    .menu .item, .menu .item .link {
        font-size: 29px;
    }
    .menu.show ul{
        display: block;
    }
    .menu ul .item{
        display: block;
        float: none;
        padding: 10px 5px 5px 20px;
        box-sizing: border-box;
        text-align: left;
        height: auto;
        width: 100%;
    }
    .menu ul .item:nth-child(2){
        margin-right: 0;
    }
    h1{
        font-size: 50px;
    }
    .input-block-required{
        display: block;
    }
    .input-block-required:after {
        font-size: 55px;
        right: -19px;
        top: -25px;
    }
    .content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-menu {
        padding: 15px;
        text-align: left;
    }
    .footer-menu li {
        margin-bottom: 10px;
        margin-right: 18px;
    }
    .footer-menu li a {
        font-size: 24px;
    }
    .footer-menu {
        margin-bottom: 0;
    }
    .content-login{
        background: none;
    }
    .content-login .content-inner {
        width: 75%;
        padding-top: 20px;        
        margin-left: 10px;
    }
    .content-login .btn-primary{
        padding: 0 110px;
    }
    .content-login .submit-block {
        margin-left: 90px;
        text-align: left;
    }
    .content-login .sign-links-block {
        text-align: left;
        margin-left: 110px;
    }
    .content-feedback .content-inner{
        width: 610px;
        padding: 20px;
    }
    .content-feedback .feedback-inline-blocks .input-block:last-child{
        margin-top: 20px;
    }
    .content-feedback .feedback-inline-blocks .input-block:last-child label{
        width: 80px;
    }
    .content-feedback .input-block textarea {
        width: 485px;
    }
    .content-feedback .captcha-block{
        margin: 20px 0 0 -20px;
        width: 100%;
        padding: 10px 32px 10px 10px;
        background: #9d0708;
        text-align: center;
    }
    .content-feedback .submit-block {
        padding-left: 0;
        text-align: center;
    }
    .content-winners .content-inner{
        width:560px;
        margin-top: 30px;
    }
    .content-winners .input-block input {
        padding-top: 10px;
        padding-bottom: 10px;
    } 
    .content-winners .table-tr.table-thead>div {
        font-size: 18px;
    }
    .content-winners .table-tr>div {
        font-size: 16px;
    }
    .winners-pagination{
        margin-top: 80px;
    }
    .content-signup .content-inner {
        width: 580px;
    }
    .content-signup .input-block input {
        width: 460px;
    }
    .content-signup .date-input-block {
        margin-left: 75px;
    }
    .content-signup .date-input-block input {
        width: 225px;
    }
    .content-signup .phone-block{
        width: 265px;
        margin-right: 35px;
    }
    .content-signup .phone-block input {
        width: 160px;
    }
    .content-signup .password-block input {
        width: 255px;
    }
    .content-signup .accept-block {
        display: block;
        width: auto;
        margin-left: 100px;
    }
    .content-signup .captcha-block {
        padding: 10px;
        width: 465px;
    }
    .captcha-reload a {
        margin: 0 10px;
        width: 55px;
    }
    .content-signup .captcha-block input {
        width: 215px;
    }
    .content-cabinet .content-inner{
        width: 100%;
    }
    .content-cabinet .profile-info{
        display: block;
        width: 100%;
        position: relative;
    }
    .content-cabinet .packet{
        width: 250px;
        position: absolute;
        right: 20px;
        top: -30px;
    }
    .content-cabinet .submit-block{
        margin-top: 70px;
        text-align: center;
    }
    .content-cabinet .checks-block{
        width: 100%;
        margin-top: 40px;
    }
    .content-index .content-inner {
        text-align: center;
        padding: 0 0 700px 0;
        height: auto;
        margin: 0 auto -71px auto;
        background: url('../img/index-heart-mob.png') 0% 100% no-repeat transparent;
    }
    .content-index .index-title{
        width: 515px;
        background-position: 100% 0%;
    }
    .content-index .index-rules{
        width: 515px;
        background-position: 100% 0%;
    }
    .content-index .index-packet{
        left: auto;
        right: 20px;
        display: inline-block;
        background: url('../img/index-packet.png') 50% 50% no-repeat transparent;
    }

    .fancybox-skin {
        padding-top: 85px !important;
    }
    
    .content-winners>h1 {
        width: 195px;
    }
    .content-feedback>h1 {
        width: 245px;
    }
    .content-login>h1 {
        width: 74px;
    }
    .content-signup>h1 {
        width: 190px;
    }
    .content-cabinet>h1 {
        width: 268px;
    }
    .content-cabinet .profile-change-link{
        text-align: left;
    }
    #profile-change{
        width: 600px;
    }
    #profile-change .modal-content{
        padding: 0 20px;
    }
    #profile-change .input-name-block input {
        width: 450px;
    }
    #profile-change .date-input-block {
        margin-left: 65px;
    }
    #profile-change .phone-block, #profile-change .password-block {
        width: 285px;
        margin-right: 0px;
    }
    #profile-change .password-block {
        width: 360px;
    }
}